# Server Configuration
PORT=5000
NODE_ENV=production

# Security PIN Hash (Default sha256 of 5555)
PIN_HASH=46e3796dcf9f5cfebc58f0003b87ba22b0c3d52d9a46cf1dfb3a98555e0beaa5

# AI Model API Keys (Free tier keys)
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here

# Database (Optional - MongoDB Atlas Free Cluster M0)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cse5
